{{ define "main" }} {{ $data := index .Site.Data .Site.Language.Lang }}
<!-- contact -->
<section class="section-sm bg-gray">
    <div class="container">

        <div class="row" style="padding-bottom: 100px; padding-top: 100px;">
            <div class="col-lg-6">

                <h1>By email</h1>
                
                <span style="font-size:3.5rem;font-weight: 200;">contact@sdmx.io</span>
                <p style="padding-top: 40px;">
                    <a href="mailto:contact@sdmx.io"><button class="btn btn-primary">{{ i18n "send" }}</button></a>
                </p>
            </div>

        </div>


    </div>
</section>
<!-- /contact -->

<!-- gmap -->
{{ if .Site.Params.map.enable }}
<section class="section pt-0">
    <div id="map_canvas" data-latitude="{{ .Site.Params.map.map_latitude }}" data-longitude="{{ .Site.Params.map.map_longitude }}" data-marker="{{ .Site.Params.map.map_marker | relURL }}" data-marker-name="{{ .Site.Title }}"></div>
</section>
{{ end }}
<!-- /gmap -->

{{ end }}
